### Creating and Persisting an ML Model

In [639]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/student-mat.csv', sep=';')

Summary of the data

In [640]:
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [641]:
df.info

<bound method DataFrame.info of     school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]>

In [642]:
df['qual_student'] = np.where(df['G3']>=15, 1, 0)
df['higher_bool'] = np.where(df['higher']=="yes",1,0)
df['schoolsup_bool'] = np.where(df['schoolsup']=="yes",1,0)
df.groupby('qual_student').count().address
df.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,qual_student,higher_bool,schoolsup_bool
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190,0.184810,0.949367,0.129114
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443,0.388636,0.219525,0.335751
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000,0.000000,1.000000,0.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000,0.000000,1.000000,0.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000,0.000000,1.000000,0.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000,1.000000,1.000000,1.000000

Create a subset of features as an example.

In [643]:
df['qual_student'] = np.where(df['G3']>=15, 1, 0)
df.groupby(['qual_student','studytime']).count().address

qual_student  studytime
0             1             87
              2            167
              3             48
              4             20
1             1             18
              2             31
              3             17
              4              7
Name: address, dtype: int64

In [644]:
df.groupby(['qual_student','activities']).count().address

qual_student  activities
0             no            160
              yes           162
1             no             34
              yes            39
Name: address, dtype: int64

In [645]:
df.groupby(['qual_student','failures']).count().address

qual_student  failures
0             0           241
              1            49
              2            16
              3            16
1             0            71
              1             1
              2             1
Name: address, dtype: int64

In [646]:
df['bool_absences'] = np.where(df['G3']>=1, 1, 0)
df.groupby(['qual_student','bool_absences']).count().address

qual_student  bool_absences
0             0                 38
              1                284
1             1                 73
Name: address, dtype: int64

In [647]:
df.groupby(['qual_student','health']).count().address

qual_student  health
0             1          32
              2          37
              3          80
              4          55
              5         118
1             1          15
              2           8
              3          11
              4          11
              5          28
Name: address, dtype: int64

In [648]:
df.groupby(['qual_student','higher']).count().address

qual_student  higher
0             no         20
              yes       302
1             yes        73
Name: address, dtype: int64

In [649]:
df.groupby(['qual_student','schoolsup']).count().address

qual_student  schoolsup
0             no           273
              yes           49
1             no            71
              yes            2
Name: address, dtype: int64

In [650]:
df.groupby(['qual_student','paid']).count().address

qual_student  paid
0             no      173
              yes     149
1             no       41
              yes      32
Name: address, dtype: int64

In [651]:
df.groupby(['qual_student','famsup']).count().address

qual_student  famsup
0             no        122
              yes       200
1             no         31
              yes        42
Name: address, dtype: int64

In [652]:
df.groupby(['qual_student','goout']).count().address

qual_student  goout
0             1         18
              2         78
              3        104
              4         77
              5         45
1             1          5
              2         25
              3         26
              4          9
              5          8
Name: address, dtype: int64

In [653]:
include = ['higher_bool', 'failures','schoolsup_bool','G3']
df.drop(columns=df.columns.difference(include), inplace=True)  # only using 3 features

In [654]:
df.info

<bound method DataFrame.info of      failures  G3  higher_bool  schoolsup_bool
0           0   6            1               1
1           0   6            1               0
2           3  10            1               1
3           0  15            1               0
4           0  10            1               0
..        ...  ..          ...             ...
390         2   9            1               0
391         0  16            1               0
392         3   7            1               0
393         0  10            1               0
394         0   9            1               0

[395 rows x 4 columns]>

The goal is to predict the quality of the student. We will build a predictor based on the final grade (G3).
Becasue we are trying to find quality students. In this model we define a quality student as one who achieves a final grade of 15 or higher.

In [655]:
df['qual_student'] = np.where(df['G3']>=15, 1, 0)

In [656]:
df.describe()

         failures          G3  higher_bool  schoolsup_bool  qual_student
count  395.000000  395.000000   395.000000      395.000000    395.000000
mean     0.334177   10.415190     0.949367        0.129114      0.184810
std      0.743651    4.581443     0.219525        0.335751      0.388636
min      0.000000    0.000000     0.000000        0.000000      0.000000
25%      0.000000    8.000000     1.000000        0.000000      0.000000
50%      0.000000   11.000000     1.000000        0.000000      0.000000
75%      0.000000   14.000000     1.000000        0.000000      0.000000
max      3.000000   20.000000     1.000000        1.000000      1.000000

Drop the G3 score

In [657]:
include = ['higher_bool', 'schoolsup_bool','failures','qual_student']
df.drop(columns=df.columns.difference(include), inplace=True)

Import scikit-learn and build a random forest classifer

In [658]:
from sklearn.ensemble import RandomForestClassifier as rf
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, log_loss
import sklearn
dependent_variable = 'qual_student'
x = df[df.columns.difference([dependent_variable])]
y = df[dependent_variable]
X_train, X_test, y_train,y_test= train_test_split(x, y, test_size=0.3)
clf = rf(n_estimators = 1000)
clf.fit(X_train, y_train)
print('****Results****')
pred = clf.predict(X_test)
acc = accuracy_score(y_test, pred)
print("Accuracy: {:.4%}".format(acc))

****Results****
Accuracy: 84.8739%

In [659]:
pred = clf.predict(X_test)
sklearn.metrics.f1_score(y_test, pred, average='binary')

0.0

It's not very good! We didn't even cross validate. You'll need to do better :)
Let's export this model so we can use it in a microservice (flask api)

In [660]:
import joblib
# modify the file path to where you want to save the model
joblib.dump(clf, 'app/handlers/model.pkl')

['app/handlers/model.pkl']

In [661]:
query_df = pd.DataFrame({ 'failures' : pd.Series(6) ,'schoolsup_bool' : pd.Series(19) ,'higher_bool' : pd.Series(18)})

In [662]:
pred = clf.predict(query_df)

/root/.local/share/virtualenvs/fall-22-hw4-team-berny-gGikzBex/lib/python3.8/site-packages/sklearn/base.py:493: FutureWarning: The feature names should match those that were passed during fit. Starting version 1.2, an error will be raised.
Feature names must be in the same order as they were in fit.

  warnings.warn(message, FutureWarning)

In [663]:
x

     failures  higher_bool  schoolsup_bool
0           0            1               1
1           0            1               0
2           3            1               1
3           0            1               0
4           0            1               0
..        ...          ...             ...
390         2            1               0
391         0            1               0
392         3            1               0
393         0            1               0
394         0            1               0

[395 rows x 3 columns]

In [664]:
type(x)

pandas.core.frame.DataFrame